@charset "utf-8";
/* CSS Document */




  
   
   
#content-header { float:left;}
#content-area { float:left;} 

#header_slider { height: 599px; }
#header_slider .slide-content { height: 500px !important; }
#header_slider .slider-bubbles { bottom: 250px; }
.banner {
    width: 100%;
    text-align: center;
    background: #0B65C6;
    z-index: 100;
    -moz-box-shadow: inset  0 0 6px rgba(0,0,0,.5);
    -webkit-box-shadow: inset  0 0 6px rgba(0,0,0,.5);
    box-shadow: inset  0 0 6px rgba(0,0,0,.5);
}
.banner h2 { 
    color: white;
    display: inline-block;
    padding: 15px 10px;
    vertical-align: middle;
}
.banner b {
    font-size: 26px;
    color: white;
    vertical-align: middle;
}
.banner-action,
.banner-action:hover,
.banner-action:active,
.banner-action:visited { text-decoration: none; }

/*.banner .btn { display: inline-block; }*/
#site-main-content { padding-top: 100px; }

/*Slider*/
ul.sliderTopControlls {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px;
}
ul.sliderTopControlls li {
    display: inline;
    padding: 0 20px;
}
ul.sliderTopControlls li a, ul.sliderTopControlls li a:link, ul.sliderTopControlls li a:hover, ul.sliderTopControlls li a:active {
    color: #555555;
}
ul.sliderTopControlls li a.btn, ul.sliderTopControlls li a.btn:link, ul.sliderTopControlls li a.btn:hover, ul.sliderTopControlls li a.btn:active {
    color: #ffffff;

.chzn-container {
	font-size: 13px;
	position: relative;
	display: inline-block;
	zoom: 1;
*display:inline;
}

/*End Slider*/


.chzn-container .chzn-drop {
	background: #fff;
	border: 1px solid #aaa;
	border-top: 0;
	position: absolute;
	top: 29px;
	left: 0;
	-webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
	-moz-box-shadow : 0 4px 5px rgba(0,0,0,.15);
	box-shadow : 0 4px 5px rgba(0,0,0,.15);
	z-index: 1010;
}
.chzn-container-single .chzn-single {
	background-color: #ffffff;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
	background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius : 5px;
	border-radius : 5px;
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	border: 1px solid #aaaaaa;
	-webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	height: 23px;
	line-height: 24px;
	padding: 0 0 0 8px;
	color: #444444;
	text-decoration: none;
}
.chzn-container-single .chzn-default {
	color: #999;
}
.chzn-container-single .chzn-single span {
	margin-right: 26px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.chzn-container-single .chzn-single abbr {
	display: block;
	position: absolute;
	right: 26px;
	top: 6px;
	width: 12px;
	height: 12px;
	font-size: 1px;
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) -42px 1px no-repeat;
}
.chzn-container-single .chzn-single abbr:hover {
	background-position: -42px -10px;
}
.chzn-container-single.chzn-disabled .chzn-single abbr:hover {
	background-position: -42px -10px;
}
.chzn-container-single .chzn-single div {
	position: absolute;
	right: 0;
	top: 0;
	display: block;
	height: 100%;
	width: 18px;
}
.chzn-container-single .chzn-single div b {
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 0px 2px;
	display: block;
	width: 100%;
	height: 100%;
}
.chzn-container-single .chzn-search {
	padding: 3px 4px;
	position: relative;
	margin: 0;
	white-space: nowrap;
	z-index: 1010;
}
.chzn-container-single .chzn-search input {
	background: #fff url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px;
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat 100% -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	margin: 1px 0;
	padding: 4px 20px 4px 5px;
	outline: 0;
	border: 1px solid #aaa;
	font-family: sans-serif;
	font-size: 1em;
}
.chzn-container-single .chzn-drop {
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius : 0 0 4px 4px;
	border-radius : 0 0 4px 4px;
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
}
.chzn-container-single-nosearch .chzn-search input {
	position: absolute;
	left: -9000px;
}
.chzn-container-multi .chzn-choices {
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
	border: 1px solid #aaa;
	margin: 0;
	padding: 0;
	cursor: text;
	overflow: hidden;
	height: auto !important;
	height: 1%;
	position: relative;
}
.chzn-container-multi .chzn-choices li {
	float: left;
	list-style: none;
}
.chzn-container-multi .chzn-choices .search-field {
	white-space: nowrap;
	margin: 0;
	padding: 0;
}
.chzn-container-multi .chzn-choices .search-field input {
	color: #666;
	background: transparent !important;
	border: 0 !important;
	font-family: sans-serif;
	font-size: 100%;
	height: 15px;
	padding: 5px;
	margin: 1px 0;
	outline: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow : none;
	box-shadow : none;
}
.chzn-container-multi .chzn-choices .search-field .default {
	color: #999;
}
.chzn-container-multi .chzn-choices .search-choice {
	-webkit-border-radius: 3px;
	-moz-border-radius : 3px;
	border-radius : 3px;
	-moz-background-clip : padding;
	-webkit-background-clip: padding-box;
	background-clip : padding-box;
	background-color: #e4e4e4;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	-webkit-box-shadow: 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	-moz-box-shadow : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	box-shadow : 0 0 2px #ffffff inset, 0 1px 0 rgba(0,0,0,0.05);
	color: #333;
	border: 1px solid #aaaaaa;
	line-height: 13px;
	padding: 3px 20px 3px 5px;
	margin: 3px 0 3px 5px;
	position: relative;
	cursor: default;
}
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
	background-color: #e4e4e4;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
	color: #666;
	border: 1px solid #cccccc;
	padding-right: 5px;
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	background: #d4d4d4;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	display: block;
	position: absolute;
	right: 3px;
	top: 4px;
	width: 12px;
	height: 12px;
	font-size: 1px;
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) -42px 1px no-repeat;
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
	background-position: -42px -10px;
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	background-position: -42px -10px;
}
.chzn-container .chzn-results {
	margin: 0 4px 4px 0;
	max-height: 240px;
	padding: 0 0 0 4px;
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.chzn-container-multi .chzn-results {
	margin: -1px 0 0;
	padding: 0;
}
.chzn-container .chzn-results li {
	display: none;
	line-height: 15px;
	padding: 5px 6px;
	margin: 0;
	list-style: none;
}
.chzn-container .chzn-results .active-result {
	cursor: pointer;
	display: list-item;
}
.chzn-container .chzn-results .highlighted {
	background-color: #3875d7;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
	background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
	background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
	color: #fff;
}
.chzn-container .chzn-results li em {
	background: #feffde;
	font-style: normal;
}
.chzn-container .chzn-results .highlighted em {
	background: transparent;
}
.chzn-container .chzn-results .no-results {
	background: #f4f4f4;
	display: list-item;
}
.chzn-container .chzn-results .group-result {
	cursor: default;
	color: #999;
	font-weight: bold;
}
.chzn-container .chzn-results .group-option {
	padding-left: 15px;
}
.chzn-container-multi .chzn-drop .result-selected {
	display: none;
}
.chzn-container .chzn-results-scroll {
	background: white;
	margin: 0 4px;
	position: absolute;
	text-align: center;
	width: 321px;
	z-index: 1;
}
.chzn-container .chzn-results-scroll span {
	display: inline-block;
	height: 17px;
	text-indent: -5000px;
	width: 9px;
}
.chzn-container .chzn-results-scroll-down {
	bottom: 0;
}
.chzn-container .chzn-results-scroll-down span {
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -4px -3px;
}
.chzn-container .chzn-results-scroll-up span {
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -22px -3px;
}
.chzn-container-active .chzn-single {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow : 0 0 5px rgba(0,0,0,.3);
	box-shadow : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-single-with-drop {
	border: 1px solid #aaa;
	-webkit-box-shadow: 0 1px 0 #fff inset;
	-moz-box-shadow : 0 1px 0 #fff inset;
	box-shadow : 0 1px 0 #fff inset;
	background-color: #eee;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -moz-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: -o-linear-gradient(top, #eeeeee 20%, #ffffff 80%);
	background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
	-webkit-border-bottom-left-radius : 0;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft : 0;
	-moz-border-radius-bottomright: 0;
	border-bottom-left-radius : 0;
	border-bottom-right-radius: 0;
}
.chzn-container-active .chzn-single-with-drop div {
	background: transparent;
	border-left: none;
}
.chzn-container-active .chzn-single-with-drop div b {
	background-position: -18px 2px;
}
.chzn-container-active .chzn-choices {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow : 0 0 5px rgba(0,0,0,.3);
	box-shadow : 0 0 5px rgba(0,0,0,.3);
	border: 1px solid #5897fb;
}
.chzn-container-active .chzn-choices .search-field input {
	color: #111 !important;
}
.chzn-disabled {
	cursor: default;
	opacity: 0.5 !important;
}
.chzn-disabled .chzn-single {
	cursor: default;
}
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
	cursor: default;
}
.chzn-rtl {
	text-align: right;
}
.chzn-rtl .chzn-single {
	padding: 0 8px 0 0;
	overflow: visible;
}
.chzn-rtl .chzn-single span {
	margin-left: 26px;
	margin-right: 0;
	direction: rtl;
}
.chzn-rtl .chzn-single div {
	left: 3px;
	right: auto;
}
.chzn-rtl .chzn-single abbr {
	left: 26px;
	right: auto;
}
.chzn-rtl .chzn-choices .search-field input {
	direction: rtl;
}
.chzn-rtl .chzn-choices li {
	float: right;
}
.chzn-rtl .chzn-choices .search-choice {
	padding: 3px 5px 3px 19px;
	margin: 3px 5px 3px 0;
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	left: 4px;
	right: auto;
}
.chzn-rtl.chzn-container-single .chzn-results {
	margin: 0 0 4px 4px;
	padding: 0 4px 0 0;
}
.chzn-rtl .chzn-results .group-option {
	padding-left: 0;
	padding-right: 15px;
}
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
	border-right: none;
}
.chzn-rtl .chzn-search input {
	background: #fff url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px;
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px, -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px, -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px, -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
	background: url(/sites/all/libraries/chosen/chosen/chosen-sprite.png) no-repeat -30px -20px, linear-gradient(#eeeeee 1%, #ffffff 15%);
	padding: 4px 5px 4px 20px;
	direction: rtl;
}
.chzn-container-single.chzn-rtl .chzn-single div b {
	background-position: 6px 2px;
}
.chzn-container-single.chzn-rtl .chzn-single-with-drop div b {
	background-position: -12px 2px;
}
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:144dpi) {
.chzn-rtl .chzn-search input, .chzn-container-single .chzn-single abbr, .chzn-container-single .chzn-single div b, .chzn-container-single .chzn-search input, .chzn-container-multi .chzn-choices .search-choice .search-choice-close, .chzn-container .chzn-results-scroll-down span, .chzn-container .chzn-results-scroll-up span {
	background-image: url(/sites/all/libraries/chosen/chosen/chosen-sprite@2x.png) !important;
	background-repeat: no-repeat !important;
	background-size: 52px 37px !important;
}
}
.ctools-locked {
	color: red;
	border: 1px solid red;
	padding: 1em;
}
.ctools-owns-lock {
	background: #FFFFDD none repeat scroll 0 0;
	border: 1px solid #F0C020;
	padding: 1em;
}
a.ctools-ajaxing, input.ctools-ajaxing, button.ctools-ajaxing, select.ctools-ajaxing {
	padding-right: 18px !important;
	background: url(/sites/all/modules/contrib/ctools/images/status-active.gif) right center no-repeat;
}
div.ctools-ajaxing {
	float: left;
	width: 18px;
	background: url(/sites/all/modules/contrib/ctools/images/status-active.gif) center center no-repeat;
}
div.panel-pane div.admin-links {
	font-size: xx-small;
	margin-right: 1em;
}
div.panel-pane div.admin-links li a {
	color: #ccc;
}
div.panel-pane div.admin-links li {
	padding-bottom: 2px;
	background: white;
	z-index: 201;
}
div.panel-pane div.admin-links:hover a, div.panel-pane div.admin-links-hover a {
	color: #000;
}
div.panel-pane div.admin-links a:before {
	content: "[";
}
div.panel-pane div.admin-links a:after {
	content: "]";
}
div.panel-pane div.panel-hide {
	display: none;
}
div.panel-pane div.panel-hide-hover, div.panel-pane:hover div.panel-hide {
	display: block;
	position: absolute;
	z-index: 200;
	margin-top: -1.5em;
}
div.panel-pane div.node {
	margin: 0;
	padding: 0;
}
div.panel-pane div.feed a {
	float: right;
}
#views-slideshow-form-wrapper .form-item.dependent-options {
	padding-left: 5px;
}
#views-slideshow-form-wrapper .vs-dependent {
	padding-left: 30px;
}
table.grant_help th {
	vertical-align: top;
}
table.grant_help td p {
	margin-top: 0px;
	margin-bottom: 8px;
}
table.grant_help em.perm {
	font-weight: bold;
}
label.disabled {
	color: #999;
	font-style: italic;
}
.view-0, .update-0, .delete-0 {
	background-color: #fffce5;
}
.view-1, .update-1, .delete-1, .create-1, .list-1 {
	background-color: #e5ffe2;
}
.view-2, .update-2, .delete-2, .create-0, .list-0 {
	background-color: #fef5f1;
}
.taxonomy-access-grant-table {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	width: inherit;
}
.taxonomy-access-grant-table th.select-all {
	width: 2em;
}
.taxonomy-access-grant-table td.taxonomy-access-label {
	padding-right: 4em;
	min-width: 12em;
}
.taxonomy-access-grant-table td.taxonomy-access-default {
	font-style: italic;
	font-weight: bold;
}
.taxonomy-access-grant-table td.taxonomy-access-grant {
	width: 7em;
}
fieldset#edit-vocabs .fieldset-description {
	display: block;
}
#taxonomy-access-admin-role fieldset {
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}
#taxonomy-access-admin-role fieldset.taxonomy-access-add.collapsible, #taxonomy-access-admin-role fieldset.taxonomy-access-add.collapsed {
	margin-top: 0px;
	margin-bottom: 1em;
	border: none;
	background: none;
}
fieldset.taxonomy-access-add > legend {
	background: none;
	border: none;
	font-family: inherit;
	position: static;
}
fieldset.taxonomy-access-add > legend a {
	color: #0076bc;
}
fieldset.taxonomy-access-add .fieldset-wrapper {
	margin-top: 0px;
	padding-top: 0.5em;
}
html.js fieldset.collapsible.taxonomy-access-add > legend .fieldset-legend, html.js fieldset.collapsed.taxonomy-access-add > legend .fieldset-legend {
	background: transparent url(/sites/all/modules/contrib/taxonomy_access/images/add.png) no-repeat 0 center;
	text-transform: none;
}
.panel-3col-33 {
}
.panel-3col-33 .panel-col-first {
	float: left;
	width: 33%;
}
.panel-3col-33 .panel-col-first .inside {
	margin: 0 .5em 1em 0;
}
.panel-3col-33 .panel-col {
	float: left;
	width: 33%;
}
.panel-3col-33 .panel-col .inside {
	margin: 0 .5em 1em .5em;
}
.panel-3col-33 .panel-col-last {
	float: left;
	width: 33%;
}
.panel-3col-33 .panel-col-last .inside {
	margin: 0 0 1em .5em;
}
.panel-3col-33 .panel-separator {
	margin: 0 0 1em 0;
}
div.menu-minipanels {
	display: none;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-44-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-44-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-44-inside {
	padding-right: 0px;
}
.panels-flexible-44 {
	width: auto;
}
.panels-flexible-region-44-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-44-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-44-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-44-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-44-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-44-2-inside {
	padding-right: 0px;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-42-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-42-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-42-inside {
	padding-right: 0px;
}
.panels-flexible-42 {
	width: auto;
}
.panels-flexible-region-42-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-42-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-42-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-42-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-42-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-42-2-inside {
	padding-right: 0px;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-41-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-41-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-41-inside {
	padding-right: 0px;
}
.panels-flexible-41 {
	width: auto;
}
.panels-flexible-region-41-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-41-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-41-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-41-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-41-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-41-2-inside {
	padding-right: 0px;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-31-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-31-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-31-inside {
	padding-right: 0px;
}
.panels-flexible-31 {
	width: auto;
}
.panels-flexible-region-31-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-31-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-31-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-31-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-31-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-31-2-inside {
	padding-right: 0px;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-30-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-30-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-30-inside {
	padding-right: 0px;
}
.panels-flexible-30 {
	width: auto;
}
.panels-flexible-region-30-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-30-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-30-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-30-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-30-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-30-2-inside {
	padding-right: 0px;
}
.panel-flexible .panel-separator {
	margin: 0 0 1em 0;
}
.panel-1col {
}
.panel-2col .panel-col-first .inside {
	margin: 0;
}
.panel-1col .panel-col {
	width: 100%;
}
#panels-edit-display .panel-pane, #panels-edit-display .helperclass {
	margin: .5em;
}
.panel-2col .panel-separator {
	margin: 0 0 1em 0;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-32-main {
	float: left;
	width: 69.2597%;
}
.panels-flexible-column-32-1 {
	float: left;
	width: 29.7403%;
}
.panels-flexible-32-inside {
	padding-right: 0px;
}
.panels-flexible-32 {
	width: auto;
}
.panels-flexible-region-32-left_column {
	float: left;
	width: 32.8983%;
}
.panels-flexible-region-32-center {
	float: left;
	width: 33.1540%;
}
.panels-flexible-region-32-right_column {
	float: left;
	width: 32.9477%;
}
.panels-flexible-row-32-main-row-inside {
	padding-right: 0px;
}
.panels-flexible-region-32-column_2 {
	float: left;
	width: 99.0000%;
}
.panels-flexible-row-32-2-inside {
	padding-right: 0px;
}
.panels-flexible-region {
	padding: 0;
}
.panels-flexible-region-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-region-inside-first {
	padding-left: 0;
}
.panels-flexible-region-inside-last {
	padding-right: 0;
}
.panels-flexible-column {
	padding: 0;
}
.panels-flexible-column-inside {
	padding-right: 0.5em;
	padding-left: 0.5em;
}
.panels-flexible-column-inside-first {
	padding-left: 0;
}
.panels-flexible-column-inside-last {
	padding-right: 0;
}
.panels-flexible-row {
	padding: 0 0 0.5em 0;
	margin: 0;
}
.panels-flexible-row-last {
	padding-bottom: 0;
}
.panels-flexible-column-29-main {
	float: left;
	width: 99.0000%;
}
.panels-flexible-29-inside {
	padding-right: 0px;
}
.panels-flexible-29 {
	width: auto;
}
.panels-flexible-region-29-right {
	float: left;
	width: 19.8401%;
}
.panels-flexible-region-29-left {
	float: left;
	width: 19.8401%;
}
.panels-flexible-region-29-right_2 {
	float: left;
	width: 29.6599%;
}
.panels-flexible-region-29-center_right {
	float: left;
	width: 29.6599%;
}
.panels-flexible-row-29-main-row-inside {
	padding-right: 0px;
}
.container-inline-date {
	width: auto;
	clear: both;
	display: inline-block;
	vertical-align: top;
	margin-right: 0.5em;
}
.container-inline-date .form-item {
	float: none;
	padding: 0;
	margin: 0;
}
.container-inline-date .form-item .form-item {
	float: left;
}
.container-inline-date .form-item, .container-inline-date .form-item input {
	width: auto;
}
.container-inline-date .description {
	clear: both;
}
.container-inline-date .form-item input, .container-inline-date .form-item select, .container-inline-date .form-item option {
	margin-right: 5px;
}
.container-inline-date .date-spacer {
	margin-left: -5px;
}
.views-right-60 .container-inline-date div {
	padding: 0;
	margin: 0;
}
.container-inline-date .date-timezone .form-item {
	float: none;
	width: auto;
	clear: both;
}
#calendar_div, #calendar_div td, #calendar_div th {
	margin: 0;
	padding: 0;
}
#calendar_div, .calendar_control, .calendar_links, .calendar_header, .calendar {
	width: 185px;
	border-collapse: separate;
	margin: 0;
}
.calendar td {
	padding: 0;
}
span.date-display-single {
}
span.date-display-start {
}
span.date-display-end {
}
span.date-display-separator {
}
.date-repeat-input {
	float: left;
	width: auto;
	margin-right: 5px;
}
.date-repeat-input select {
	min-width: 7em;
}
.date-repeat fieldset {
	clear: both;
	float: none;
}
.date-views-filter-wrapper {
	min-width: 250px;
}
.date-views-filter input {
	float: left !important;
	margin-right: 2px !important;
	padding: 0 !important;
	width: 12em;
	min-width: 12em;
}
.date-nav {
	width: 100%;
	padding-bottom: 1.5em;
	clear: both;
}
.date-nav div.date-prev {
	text-align: left;
	width: 24%;
	float: left;
}
.date-nav div.date-next {
	text-align: right;
	width: 24%;
	float: right;
}
.date-nav div.date-heading {
	text-align: center;
	width: 50%;
	float: left;
}
.date-nav div.date-heading h3 {
	margin: 0;
	padding: 0;
}
.date-clear {
	float: none;
	clear: both;
	display: block;
}
.date-clear-block {
	float: none;
	width: auto;
	clear: both;
}
.date-clear-block:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.date-clear-block {
	display: inline-block;
}
* html .date-clear-block {
	height: 1%;
}
.date-clear-block {
	display: block;
}
.date-container .date-format-delete {
	margin-top: 1.8em;
	margin-left: 1.5em;
	float: left;
}
.date-container .date-format-name {
	float: left;
}
.date-container .date-format-type {
	float: left;
	padding-left: 10px;
}
.date-container .select-container {
	clear: left;
	float: left;
}
div.date-calendar-day {
	line-height: 1;
	width: 40px;
	float: left;
	margin: 6px 10px 0 0;
	background: #F3F3F3;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	color: #999;
	text-align: center;
	font-family: Georgia, Arial, Verdana, sans;
}
div.date-calendar-day span {
	display: block;
	text-align: center;
}
div.date-calendar-day span.month {
	font-size: .9em;
	background-color: #B5BEBE;
	color: white;
	padding: 2px;
	text-transform: uppercase;
}
div.date-calendar-day span.day {
	font-weight: bold;
	font-size: 2em;
}
div.date-calendar-day span.year {
	font-size: .9em;
	padding: 2px;
}
